@charset "utf-8";

#start p,input,button {
    margin: 5px;
    text-align: center;
}

#url_input {
    display: block;
    margin: 5px auto;
    width: 350px;
}

.control_button {
    border-radius: 50%;
    display: block;
    height: 50px;
    margin: 5px auto 5px;
    width: 50px;
}

.glyphicon {
    font-size: 20px;
}

#legal {
    margin: 10px;
}

#stage {
    display: none;
}

.dictation {
    font-size: 40px;
    margin: 0 10px;
}
